/*Login/Register UI*/

.left-pane {
    -fx-background-color: linear-gradient(to right top, rgba(49, 44, 81, 0.5), rgba(53, 48, 86, 0.5), rgba(57, 52, 91, 0.5), rgba(62, 56, 97, 0.5), rgba(66, 60, 102, 0.5), rgba(89, 68, 111, 0.5), rgba(112, 77, 118, 0.5), rgba(134, 86, 124, 0.5), rgba(174, 105, 128, 0.5), rgba(206, 130, 129, 0.5), rgba(228, 161, 132, 0.5), rgba(240, 195, 142, 0.5));
    -fx-background-radius: 20px; /* Rounded corners */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 2); /* Optional shadow for depth */
    -fx-opacity: 0.9; /* Adjust opacity to make the frosted glass effect */

}

.right-pane {
    -fx-background-color: rgba(234, 174, 103, 0.3); /* Semi-transparent background color */
    -fx-background-radius: 20px; /* Rounded corners */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 2);
}

.text-box {
    -fx-padding: 5px 10px; /* Padding */
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: #ffffff; /* Text color */
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: transparent; /* Transparent background */
    -fx-background-insets: 0, 0; /* No background insets */
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-border-style: solid; /* Border style */
    -fx-border-color: linear-gradient(to right, #312c51, #353056, #39345b, #3e3861, #423c66, #59446f, #704d76, #86567c, #ae6980, #ce8281, #e4a184, #f0c38e); /* Gradient for border color */
}

.text-box:hover {
    -fx-border-color: linear-gradient(to right, #312c51, #353056, #39345b, #3e3861, #423c66, #59446f, #704d76, #86567c, #ae6980, #ce8281, #e4a184, #f0c38e); /* Gradient for border color on hover */
}

.btn_register {
    -fx-background-color: rgba(49, 44, 81, 0.7); /* Semi-transparent background */
    -fx-border-color: linear-gradient(to right, #312c51, #353056, #39345b, #3e3861, #423c66, #59446f, #704d76, #86567c, #ae6980, #ce8281, #e4a184, #f0c38e); /* Gradient for border color on hover */
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-font: bold 12pt "Montserrat SemiBold";
}

.btn_register:hover {
    -fx-background-color: rgba(72, 66, 107, 0.7); /* Darker background on hover */
    -fx-effect: dropshadow(gaussian, rgba(240, 195, 142, 0.5), 10, 0, 0, 0); /* Shadow with a hint of the accent color */
}

/* End of Login/Register UI*/

.root {
    -fx-background-color: #312c51;
}


.side_ankerpane {
    -fx-background-color: rgba(72, 66, 107, 0.7); /* Semi-transparent background for glass effect */
    -fx-border-color: rgba(255, 255, 255, 0.5); /* Light semi-transparent border for glass effect */
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 2); /* Optional shadow for depth */
}
.innerpane {
    -fx-background-color: rgba(240, 195, 142, 0.3); /* Semi-transparent background for glass effect */
    -fx-border-color: rgba(240, 195, 142, 0.5); /* Semi-transparent border */
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 2); /* Optional shadow for depth */
}


.most_inner_pane {
    -fx-background-color: rgba(234, 174, 103, 0.3); /* Semi-transparent background for glass effect */
    -fx-border-color: rgba(234, 174, 103, 0.5); /* Semi-transparent border for glass effect */
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 2); /* Optional shadow for depth */
}

.btn_home {
    -fx-background-color: rgba(49, 44, 81, 0.7); /* Semi-transparent background */
    -fx-border-color: rgba(255, 255, 255, 0.5); /* Light border for glass effect */
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-font: bold 12pt "Montserrat SemiBold";
}

.btn_home:hover {
    -fx-background-color: rgba(72, 66, 107, 0.7); /* Darker background on hover */
    -fx-effect: dropshadow(gaussian, rgba(240, 195, 142, 0.5), 10, 0, 0, 0); /* Shadow with a hint of the accent color */
}

.timelyLabel {
    -fx-font: bold 36pt "Montserrat SemiBold";
    -fx-text-fill: #F0C38E;
}

.sloganLabel {
    -fx-font: bold 18pt "Montserrat SemiBold";
    -fx-text-fill: #F1AA9B;
}

.pane_1 {
    -fx-background-color: linear-gradient(to right top, rgba(240, 195, 142, 0.5), rgba(228, 161, 132, 0.5), rgba(206, 130, 129, 0.5), rgba(174, 105, 128, 0.5), rgba(134, 86, 124, 0.5), rgba(112, 77, 118, 0.5), rgba(89, 68, 111, 0.5), rgba(66, 60, 102, 0.5), rgba(62, 56, 97, 0.5), rgba(57, 52, 91, 0.5), rgba(53, 48, 86, 0.5), rgba(49, 44, 81, 0.5));
 /* Adjust transparency as needed */
    -fx-background-radius: 20px;
    -fx-font: bold 12pt "Montserrat SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 2);
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 3px; /* Increase border width */
    -fx-border-radius: 20px;
    -fx-transition: all 0.3s ease-in-out; /* Add transition effect */

}

.pane_1:hover {
    -fx-border-color: #F0C38E; /* Change border color on hover */
}
.todayspunch {
    -fx-font: bold 22pt "Montserrat SemiBold";
    -fx-text-fill: #ffffff;
}
.pane_11 {
    -fx-background-color: linear-gradient(to right top, rgba(49, 44, 81, 0.5), rgba(53, 48, 86, 0.5), rgba(57, 52, 91, 0.5), rgba(62, 56, 97, 0.5), rgba(66, 60, 102, 0.5), rgba(89, 68, 111, 0.5), rgba(112, 77, 118, 0.5), rgba(134, 86, 124, 0.5), rgba(174, 105, 128, 0.5), rgba(206, 130, 129, 0.5), rgba(228, 161, 132, 0.5), rgba(240, 195, 142, 0.5));
    -fx-background-radius: 20px;
    -fx-font: bold 12pt "Montserrat SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 2); /* Optional shadow for depth */
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-transition: all 0.3s ease-in-out; /* Add transition effect */
    -fx-opacity: 0.7; /* Adjust opacity to make the frosted glass effect */

}

.pane_11:hover {
    -fx-border-color: rgba(141, 136, 213, 0.7); /* Change border color on hover */
}

.pane_111 {
    -fx-background-color: linear-gradient(to right bottom, rgba(49, 44, 81, 0.5), rgba(53, 48, 86, 0.5), rgba(57, 52, 91, 0.5), rgba(62, 56, 97, 0.5), rgba(66, 60, 102, 0.5), rgba(89, 68, 111, 0.5), rgba(112, 77, 118, 0.5), rgba(134, 86, 124, 0.5), rgba(174, 105, 128, 0.5), rgba(206, 130, 129, 0.5), rgba(228, 161, 132, 0.5), rgba(240, 195, 142, 0.5));
    -fx-background-radius: 20px;
    -fx-font: bold 12pt "Montserrat SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.51), 10, 0, 0, 2); /* Optional shadow for depth */
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-transition: all 0.3s ease-in-out; /* Add transition effect */
    -fx-opacity: 0.7; /* Adjust opacity to make the frosted glass effect */
}

.pane_111:hover {
    -fx-border-color: rgba(141, 136, 213, 0.7); /* Change border color on hover */
}

.pane_1111 {
    -fx-background-color: linear-gradient(to left bottom, rgba(49, 44, 81, 0.5), rgba(53, 48, 86, 0.5), rgba(57, 52, 91, 0.5), rgba(62, 56, 97, 0.5), rgba(66, 60, 102, 0.5), rgba(89, 68, 111, 0.5), rgba(112, 77, 118, 0.5), rgba(134, 86, 124, 0.5), rgba(174, 105, 128, 0.5), rgba(206, 130, 129, 0.5), rgba(228, 161, 132, 0.5), rgba(240, 195, 142, 0.5));
    -fx-background-radius: 20px;
    -fx-font: bold 12pt "Montserrat SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 2);
    -fx-border-radius: 20px;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 3px;
}
.pane_1111:hover {
    -fx-border-color: rgba(213, 136, 136, 0.7); /* Change border color on hover */
}

.clockInButton {
    -fx-background-color: rgba(143, 168, 128, .5); /* Adjust transparency as needed */
    -fx-background-radius: 20px;
    -fx-font: bold 12pt "Montserrat SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 2);
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-radius: 20px;
    -fx-background-blur: 10px;
}
.clockInButton:hover {
    -fx-background-color: rgba(148, 169, 134, 0.5); /* Darker background on hover */
    -fx-effect: dropshadow(gaussian, rgba(240, 195, 142, 0.5), 10, 0, 0, 0); /* Shadow with a hint of the accent color */
}
.clockOutButton {
    -fx-background-color: rgba(241, 170, 155, 0.5); /* Adjust transparency as needed */
    -fx-background-radius: 20px;
    -fx-font: bold 12pt "Montserrat SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 2);
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-radius: 20px;
}
.clockOutButton:hover {
    -fx-background-color: rgba(243, 186, 173, 0.5); /* Darker background on hover */
    -fx-effect: dropshadow(gaussian, rgba(240, 195, 142, 0.5), 10, 0, 0, 0); /* Shadow with a hint of the accent color */
}

.breakStartButton {
    -fx-background-color: rgba(240, 195, 142, 0.5); /* Adjust transparency as needed */
    -fx-background-radius: 20px;
    -fx-font: bold 12pt "Montserrat SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 2);
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-radius: 20px;
}
.breakStartButton:hover {
    -fx-background-color: rgba(245, 212, 172, 0.5); /* Darker background on hover */
    -fx-effect: dropshadow(gaussian, rgba(240, 195, 142, 0.5), 10, 0, 0, 0); /* Shadow with a hint of the accent color */
}

.breakEndButton {
    -fx-background-color: rgba(240, 195, 142, 0.5); /* Adjust transparency as needed */
    -fx-background-radius: 20px;
    -fx-font: bold 12pt "Montserrat SemiBold";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 2);
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-radius: 20px;
}

.breakEndButton:hover {
    -fx-background-color: rgba(245, 212, 172, 0.5); /* Darker background on hover */
    -fx-effect: dropshadow(gaussian, rgba(240, 195, 142, 0.5), 10, 0, 0, 0); /* Shadow with a hint of the accent color */
}


